<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanyun.scm.api.dao.DistributionOrderDao">
    <resultMap id="BaseResultMap" type="com.hanyun.scm.api.domain.DistributionOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="distribution_order_id" property="distributionOrderId" jdbcType="VARCHAR"/>
        <result column="distribution_order_document_id" property="distributionOrderDocumentId" jdbcType="VARCHAR"/>
        <result column="source_replenishment_id" property="sourceReplenishmentId" jdbcType="VARCHAR"/>
        <result column="source_replenishment_document_id" property="sourceReplenishmentDocumentId" jdbcType="VARCHAR"/>
        <result column="to_store_id" property="toStoreId" jdbcType="VARCHAR"/>
        <result column="to_store_name" property="toStoreName" jdbcType="VARCHAR"/>
        <result column="warehouse_id" property="warehouseId" jdbcType="VARCHAR"/>
        <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR"/>
        <result column="distribution_amount" property="distributionAmount" jdbcType="BIGINT"/>
        <result column="distribution_quantity" property="distributionQuantity" jdbcType="BIGINT"/>
        <result column="distribution_order_status" property="distributionOrderStatus" jdbcType="TINYINT"/>
        <result column="receipt_status" property="receiptStatus" jdbcType="TINYINT"/>
        <result column="delivery_status" property="deliveryStatus" jdbcType="TINYINT"/>
        <result column="receipted_status" property="receiptedStatus" jdbcType="TINYINT"/>
        <result column="receipted_num" property="receiptedNum" jdbcType="BIGINT"/>
        <result column="makeorder_man_id" property="makeorderManId" jdbcType="VARCHAR"/>
        <result column="makeorder_man_name" property="makeorderManName" jdbcType="VARCHAR"/>
        <result column="auditor_id" property="auditorId" jdbcType="VARCHAR"/>
        <result column="auditor_name" property="auditorName" jdbcType="VARCHAR"/>
        <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="valid_status" property="validStatus" jdbcType="TINYINT"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, brand_id, store_id, distribution_order_id, distribution_order_document_id, source_replenishment_id, source_replenishment_document_id, to_store_id, to_store_name, warehouse_id, warehouse_name, distribution_amount, 
        distribution_quantity, distribution_order_status, receipt_status, delivery_status, receipted_status, receipted_num, makeorder_man_id, makeorder_man_name, auditor_id, auditor_name, audit_time, remark, valid_status, create_time, update_time, source_type
    </sql>
    <select id="selectByDistributionOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM distribution_order
        WHERE distribution_order_id = #{distributionOrderId,jdbcType=VARCHAR}
    </select>

    <select id="selectSourceApplyId" resultMap="BaseResultMap" parameterType="com.hanyun.scm.api.domain.request.distribution.DistributionOrderQueryRequest">
        SELECT
        distribution_order_id,distribution_order_document_id
        FROM distribution_order
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="sourceReplenishmentId != null">
                AND source_replenishment_id LIKE concat('%', #{sourceReplenishmentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                AND source_replenishment_document_id LIKE concat('%', #{sourceReplenishmentDocumentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="toStoreId != null">
                AND to_store_id = #{toStoreId,jdbcType=VARCHAR}
            </if>
            <if test="toStoreName != null">
                AND to_store_name = #{toStoreName,jdbcType=VARCHAR}
            </if>
            <if test="queryBeginTime != null and queryBeginTime != ''">
                AND update_time <![CDATA[>=]]> #{queryBeginTime, jdbcType=TIMESTAMP}
            </if>
            <if test="queryEndTime != null and queryEndTime != ''">
                AND update_time <![CDATA[<=]]> #{queryEndTime, jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="countAll" resultType="java.lang.Integer" parameterType="com.hanyun.scm.api.domain.request.distribution.DistributionOrderQueryRequest">
        SELECT COUNT(*)
        FROM distribution_order
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="distributionOrderId != null">
                AND distribution_order_id = #{distributionOrderId, jdbcType=VARCHAR}
            </if>
            <if test="distributionOrderDocumentId != null">
                AND distribution_order_document_id LIKE concat(#{distributionOrderDocumentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sourceReplenishmentId != null">
                AND source_replenishment_id  LIKE concat('%', #{sourceReplenishmentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                AND source_replenishment_document_id LIKE concat('%', #{sourceReplenishmentDocumentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="toStoreId != null">
                AND to_store_id = #{toStoreId,jdbcType=VARCHAR}
            </if>
            <if test="toStoreName != null">
                AND to_store_name = #{toStoreName,jdbcType=VARCHAR}
            </if>
            <if test="warehouseId != null">
                AND warehouse_id = #{warehouseId,jdbcType=VARCHAR}
            </if>
            <if test="warehouseName != null">
                AND warehouse_name = #{warehouseName,jdbcType=VARCHAR}
            </if>
            <if test="distributionAmount != null">
                AND distribution_amount = #{distributionAmount,jdbcType=BIGINT}
            </if>
            <if test="distributionQuantity != null">
                AND distribution_quantity = #{distributionQuantity,jdbcType=BIGINT}
            </if>
            <if test="distributionOrderStatus != null">
                AND distribution_order_status = #{distributionOrderStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptStatus != null">
                AND receipt_status != #{receiptStatus,jdbcType=TINYINT}
            </if>
            <if test="deliveryStatus != null">
                AND delivery_status = #{deliveryStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptedStatus != null">
                AND receipted_status = #{receiptedStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptedNum != null">
                AND receipted_num = #{receiptedNum,jdbcType=BIGINT}
            </if>
            <if test="makeorderManId != null">
                AND makeorder_man_id = #{makeorderManId,jdbcType=VARCHAR}
            </if>
            <if test="makeorderManName != null">
                AND makeorder_man_name LIKE concat(#{makeorderManName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="auditorId != null">
                AND auditor_id = #{auditorId,jdbcType=VARCHAR}
            </if>
            <if test="auditorName != null">
                AND auditor_name = #{auditorName,jdbcType=VARCHAR}
            </if>
            <if test="auditTime != null">
                AND audit_time = #{auditTime,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
                AND valid_status = 0
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="sourceType != null">
                AND source_type != #{sourceType,jdbcType=TINYINT}
            </if>
            <if test="queryBeginTime != null and queryBeginTime != ''">
                AND update_time <![CDATA[>=]]> #{queryBeginTime, jdbcType=TIMESTAMP}
            </if>
            <if test="queryEndTime != null and queryEndTime != ''">
                AND update_time <![CDATA[<=]]> #{queryEndTime, jdbcType=TIMESTAMP}
            </if>
            <if test="storeIdList != null">
                AND to_store_id IN (NULL
                <foreach collection="storeIdList" item="ids">
                    , #{ids, jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="distributionIdList != null">
                AND distribution_order_id NOT IN(
                <foreach collection="distributionIdList" item="orderId" separator=",">
                    #{orderId, jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
    </select>
    <select id="select" resultMap="BaseResultMap" parameterType="com.hanyun.scm.api.domain.request.distribution.DistributionOrderQueryRequest">
        SELECT 
        <include refid="Base_Column_List"/>
        FROM distribution_order
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="distributionOrderId != null">
                AND distribution_order_id = #{distributionOrderId, jdbcType=VARCHAR}
            </if>
            <if test="distributionOrderDocumentId != null">
                AND distribution_order_document_id LIKE concat(#{distributionOrderDocumentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sourceReplenishmentId != null">
                AND source_replenishment_id  LIKE concat('%', #{sourceReplenishmentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                AND source_replenishment_document_id LIKE concat('%', #{sourceReplenishmentDocumentId,jdbcType=VARCHAR}, '%')
            </if>
            <if test="toStoreId != null">
                AND to_store_id = #{toStoreId,jdbcType=VARCHAR}
            </if>
            <if test="toStoreName != null">
                AND to_store_name = #{toStoreName,jdbcType=VARCHAR}
            </if>
            <if test="warehouseId != null">
                AND warehouse_id = #{warehouseId,jdbcType=VARCHAR}
            </if>
            <if test="warehouseName != null">
                AND warehouse_name = #{warehouseName,jdbcType=VARCHAR}
            </if>
            <if test="distributionAmount != null">
                AND distribution_amount = #{distributionAmount,jdbcType=BIGINT}
            </if>
            <if test="distributionQuantity != null">
                AND distribution_quantity = #{distributionQuantity,jdbcType=BIGINT}
            </if>
            <if test="distributionOrderStatus != null">
                AND distribution_order_status = #{distributionOrderStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptStatus != null">
                AND receipt_status != #{receiptStatus,jdbcType=TINYINT}
            </if>
            <if test="deliveryStatus != null">
                AND delivery_status = #{deliveryStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptedStatus != null">
                AND receipted_status = #{receiptedStatus,jdbcType=TINYINT}
            </if>
            <if test="receiptedNum != null">
                AND receipted_num = #{receiptedNum,jdbcType=BIGINT}
            </if>
            <if test="makeorderManId != null">
                AND makeorder_man_id = #{makeorderManId,jdbcType=VARCHAR}
            </if>
            <if test="makeorderManName != null">
                AND makeorder_man_name LIKE concat(#{makeorderManName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="auditorId != null">
                AND auditor_id = #{auditorId,jdbcType=VARCHAR}
            </if>
            <if test="auditorName != null">
                AND auditor_name = #{auditorName,jdbcType=VARCHAR}
            </if>
            <if test="auditTime != null">
                AND audit_time = #{auditTime,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
                AND valid_status = 0
            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="sourceType != null">
                AND source_type != #{sourceType,jdbcType=TINYINT}
            </if>
            <if test="queryBeginTime != null and queryBeginTime != ''">
                AND update_time <![CDATA[>=]]> #{queryBeginTime, jdbcType=TIMESTAMP}
            </if>
            <if test="queryEndTime != null and queryEndTime != ''">
                AND update_time <![CDATA[<=]]> #{queryEndTime, jdbcType=TIMESTAMP}
            </if>
            <if test="storeIdList != null">
                AND to_store_id IN (NULL
                <foreach collection="storeIdList" item="storeId">
                      , #{storeId, jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="distributionIdList != null">
                AND distribution_order_id NOT IN(
                <foreach collection="distributionIdList" item="orderId" separator=",">
                      #{orderId, jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="ids != null">
                AND distribution_order_id IN (NULL
                <foreach collection="ids" item="id">
                    , #{id, jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="pageSize != null and pageSize > 0">
            LIMIT #{recordNo, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
        </if>
    </select>
    <delete id="deleteByDistributionOrderId" parameterType="java.lang.String">
        DELETE FROM distribution_order
        WHERE distribution_order_id = #{distributionOrderId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.hanyun.scm.api.domain.request.distribution.DistributionOrderCreateRequest">
        INSERT INTO distribution_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="distributionOrderId != null">
                distribution_order_id,
            </if>
            <if test="distributionOrderDocumentId != null">
                distribution_order_document_id,
            </if>
            <if test="sourceReplenishmentId != null">
                source_replenishment_id,
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                source_replenishment_document_id,
            </if>
            <if test="toStoreId != null">
                to_store_id,
            </if>
            <if test="toStoreName != null">
                to_store_name,
            </if>
            <if test="warehouseId != null">
                warehouse_id,
            </if>
            <if test="warehouseName != null">
                warehouse_name,
            </if>
            <if test="distributionAmount != null">
                distribution_amount,
            </if>
            <if test="distributionQuantity != null">
                distribution_quantity,
            </if>
                distribution_order_status,
                receipt_status,
                delivery_status,
                receipted_status,
                receipted_num,
            <if test="makeorderManId != null">
                makeorder_man_id,
            </if>
            <if test="makeorderManName != null">
                makeorder_man_name,
            </if>
            <if test="auditorId != null">
                auditor_id,
            </if>
            <if test="auditorName != null">
                auditor_name,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
                valid_status,
                create_time,
                update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                #{brandId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="distributionOrderId != null">
                #{distributionOrderId,jdbcType=VARCHAR},
            </if>
            <if test="distributionOrderDocumentId != null">
                #{distributionOrderDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="sourceReplenishmentId != null">
                #{sourceReplenishmentId,jdbcType=VARCHAR},
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                #{sourceReplenishmentDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="toStoreId != null">
                #{toStoreId,jdbcType=VARCHAR},
            </if>
            <if test="toStoreName != null">
                #{toStoreName,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                #{warehouseId,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="distributionAmount != null">
                #{distributionAmount,jdbcType=BIGINT},
            </if>
            <if test="distributionQuantity != null">
                #{distributionQuantity,jdbcType=BIGINT},
            </if>
                0,
                0,
                0,
                1,
                0,
            <if test="makeorderManId != null">
                #{makeorderManId,jdbcType=VARCHAR},
            </if>
            <if test="makeorderManName != null">
                #{makeorderManName,jdbcType=VARCHAR},
            </if>
            <if test="auditorId != null">
                #{auditorId,jdbcType=VARCHAR},
            </if>
            <if test="auditorName != null">
                #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=TINYINT},
            </if>
                0,
                NOW(),
                NOW(),
        </trim>
    </insert>
    <update id="updateByDistributionOrderId" parameterType="com.hanyun.scm.api.domain.request.distribution.DistributionOrderModifyRequest">
        UPDATE distribution_order
        <set>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="distributionOrderId != null">
                distribution_order_id = #{distributionOrderId,jdbcType=VARCHAR},
            </if>
            <if test="distributionOrderDocumentId != null">
                distribution_order_document_id = #{distributionOrderDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="sourceReplenishmentId != null">
                source_replenishment_id = #{sourceReplenishmentId,jdbcType=VARCHAR},
            </if>
            <if test="sourceReplenishmentDocumentId != null">
                source_replenishment_document_id = #{sourceReplenishmentDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="toStoreId != null">
                to_store_id = #{toStoreId,jdbcType=VARCHAR},
            </if>
            <if test="toStoreName != null">
                to_store_name = #{toStoreName,jdbcType=VARCHAR},
            </if>
            <if test="warehouseId != null">
                warehouse_id = #{warehouseId,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                warehouse_name = #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="distributionAmount != null">
                distribution_amount = #{distributionAmount,jdbcType=BIGINT},
            </if>
            <if test="distributionQuantity != null">
                distribution_quantity = #{distributionQuantity,jdbcType=BIGINT},
            </if>
            <if test="distributionOrderStatus != null">
                distribution_order_status = #{distributionOrderStatus,jdbcType=TINYINT},
            </if>
            <if test="receiptStatus != null">
                receipt_status = #{receiptStatus,jdbcType=TINYINT},
            </if>
            <if test="deliveryStatus != null">
                delivery_status = #{deliveryStatus,jdbcType=TINYINT},
            </if>
            <if test="receiptedStatus != null">
                receipted_status = #{receiptedStatus,jdbcType=TINYINT},
            </if>
            <if test="receiptedNum != null">
                receipted_num = #{receiptedNum,jdbcType=BIGINT},
            </if>
            <if test="makeorderManId != null">
                makeorder_man_id = #{makeorderManId,jdbcType=VARCHAR},
            </if>
            <if test="makeorderManName != null">
                makeorder_man_name = #{makeorderManName,jdbcType=VARCHAR},
            </if>
            <if test="auditorId != null">
                auditor_id = #{auditorId,jdbcType=VARCHAR},
            </if>
            <if test="auditorName != null">
                auditor_name = #{auditorName,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                valid_status = #{validStatus,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=TINYINT},
            </if>
                update_time = NOW(),
        </set>
        WHERE distribution_order_id = #{distributionOrderId,jdbcType=VARCHAR}
    </update>
</mapper>