<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hanyun.scm.api.dao.SupplierDao">
    <resultMap id="BaseResultMap" type="com.hanyun.scm.api.domain.Supplier">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="supplier_id" property="supplierId" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
        <result column="store_id" property="storeId" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="TINYINT"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="supplier_name" property="supplierName" jdbcType="VARCHAR"/>
        <result column="tex_rate" property="texRate" jdbcType="INTEGER"/>
        <result column="supplier_all_name" property="supplierAllName" jdbcType="VARCHAR"/>
        <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="zip_code" property="zipCode" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="contract_no" property="contractNo" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="bank_id" property="bankId" jdbcType="VARCHAR"/>
        <result column="bank" property="bank" jdbcType="VARCHAR"/>
        <result column="bank_account" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="tax_no" property="taxNo" jdbcType="VARCHAR"/>
        <result column="registry_phone" property="registryPhone" jdbcType="VARCHAR"/>
        <result column="registry_address" property="registryAddress" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="odoo_supplier_id" property="odooSupplierId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="supplier_status" property="supplierStatus" jdbcType="TINYINT"/>
        <result column="valid_status" property="validStatus" jdbcType="TINYINT"/>

        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="abbreviation_name" property="abbreviationName" jdbcType="VARCHAR"/>
        <result column="settle_type" property="settleType" jdbcType="TINYINT"/>
        <result column="scheduled_date" property="scheduledDate" jdbcType="TIMESTAMP"/>
        <result column="settle_interval" property="settleInterval" jdbcType="INTEGER"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="business_license" property="businessLicense" jdbcType="VARCHAR"/>
        <result column="license_expire_date" property="licenseExpireDate" jdbcType="TIMESTAMP"/>

        <result column="province_id" property="provinceId" jdbcType="VARCHAR"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="district_id" property="districtId" jdbcType="VARCHAR"/>
        <result column="district_name" property="districtName" jdbcType="VARCHAR"/>

        <result column="initial_total_price" property="initialTotalPrice" jdbcType="BIGINT"/>
        <result column="initial_payment_price" property="initialPaymentPrice" jdbcType="BIGINT"/>

        <result column="supplier_category" property="supplierCategory" jdbcType="TINYINT"/>
        <result column="supplier_document_id" property="supplierDocumentId" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>


    </resultMap>
    <sql id="Base_Column_List">
        id, supplier_id, brand_id, store_id, type_id, type_name, supplier_name, tex_rate, supplier_all_name, contacts, url, phone, zip_code, email, contract_no,
        qq, address, company_name, bank_id, bank, bank_account, tax_no, registry_phone, registry_address, remark, odoo_supplier_id, create_time, update_time,
        category_id, supplier_status, valid_status,tel,abbreviation_name,settle_type,scheduled_date,settle_interval, fax,business_license,license_expire_date,
        province_id,province_name,city_id,city_name,district_id,district_name,initial_total_price,initial_payment_price, supplier_category, supplier_document_id,
        bank_name, invoice_title, create_user_id, update_user_id
    </sql>

    <select id="querySupplier" resultMap="BaseResultMap" parameterType="java.util.ArrayList">
        SELECT <include refid="Base_Column_List"/>
        FROM supplier
        <where>
            supplier_id IN (
              <foreach collection="supplierIds" item="id" separator=",">
                  #{id, jdbcType=VARCHAR}
              </foreach>
            )
        </where>
    </select>

    <select id="countAll" parameterType="com.hanyun.scm.api.domain.request.supplier.SupplierQueryRequest"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM supplier
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="typeId != null">
                AND type_id = #{typeId,jdbcType=TINYINT}
            </if>
            <if test="typeName != null">
                AND type_name = #{typeName,jdbcType=VARCHAR}
            </if>
            <if test="queryCondition != null">
                AND (supplier_name Like concat(#{queryCondition,jdbcType=VARCHAR}, '%')
                OR supplier_document_id Like concat(#{queryCondition,jdbcType=VARCHAR}, '%')
                )
            </if>
                AND valid_status = 0
            <if test="supplierStatus != null">
                AND supplier_status = #{supplierStatus,jdbcType=TINYINT}
            </if>
        </where>
    </select>
    <select id="querySupplierName" parameterType="com.hanyun.scm.api.domain.Supplier" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM supplier
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="supplierName != null">
                AND supplier_name = #{supplierName,jdbcType=VARCHAR}
            </if>
            <if test="validStatus != null">
                AND valid_status = #{validStatus,jdbcType=TINYINT}
            </if>
        </where>
    </select>
    <select id="select" resultMap="BaseResultMap"
            parameterType="com.hanyun.scm.api.domain.request.supplier.SupplierQueryRequest">
        SELECT
        <include refid="Base_Column_List"/>
        FROM supplier
        <where>
            <if test="brandId != null">
                AND brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="storeId != null">
                AND store_id = #{storeId,jdbcType=VARCHAR}
            </if>
            <if test="typeId != null">
                AND type_id = #{typeId,jdbcType=TINYINT}
            </if>
            <if test="typeName != null">
                AND type_name = #{typeName,jdbcType=VARCHAR}
            </if>
            <if test="queryCondition != null">
                AND (supplier_name Like concat(#{queryCondition,jdbcType=VARCHAR}, '%')
                OR supplier_document_id Like concat(#{queryCondition,jdbcType=VARCHAR}, '%')
                )
            </if>
            AND valid_status = 0
            <if test="supplierStatus != null">
                AND supplier_status = #{supplierStatus,jdbcType=TINYINT}
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="pageSize != null and pageSize > 0">
            LIMIT #{recordNo,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM supplier
        WHERE supplier_id = #{supplierId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteBySupplierId" parameterType="java.lang.String">
        DELETE FROM supplier
        WHERE supplier_id = #{supplierId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.hanyun.scm.api.domain.request.supplier.SupplierCreateRequest">
        INSERT INTO supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">
                supplier_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="supplierName != null">
                supplier_name,
            </if>
            <if test="texRate != null">
                tex_rate,
            </if>
            <if test="supplierAllName != null">
                supplier_all_name,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="zipCode != null">
                zip_code,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="contractNo != null">
                contract_no,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="bankId != null">
                bank_id,
            </if>
            <if test="bank != null">
                bank,
            </if>
            <if test="bankAccount != null">
                bank_account,
            </if>
            <if test="taxNo != null">
                tax_no,
            </if>
            <if test="registryPhone != null">
                registry_phone,
            </if>
            <if test="registryAddress != null">
                registry_address,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="odooSupplierId != null">
                odoo_supplier_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="supplierStatus != null">
                supplier_status,
            </if>
                create_time,
                update_time,
                valid_status,
            <if test="tel != null">
                tel,
            </if>
            <if test="abbreviationName != null">
                abbreviation_name,
            </if>
            <if test="settleType != null">
                settle_type,
            </if>
            <if test="scheduledDate != null">
                scheduled_date,
            </if>
            <if test="settleInterval != null">
                settle_interval,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="businessLicense != null">
                business_license,
            </if>
            <if test="licenseExpireDate != null">
                license_expire_date,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="provinceName != null">
                province_name,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="districtId != null">
                district_id,
            </if>
            <if test="districtName != null">
                district_name,
            </if>
            <if test="initialTotalPrice != null">
                initial_total_price,
            </if>
            <if test="initialPaymentPrice != null">
                initial_payment_price,
            </if>
            <if test="supplierCategory != null">
                supplier_category,
            </if>
            <if test="supplierDocumentId != null">
                supplier_document_id,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="invoiceTitle != null">
                invoice_title,
            </if>
                create_user_id,
                update_user_id,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">
                #{supplierId,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=VARCHAR},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="texRate != null">
                #{texRate,jdbcType=INTEGER},
            </if>
            <if test="supplierAllName != null">
                #{supplierAllName,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="contractNo != null">
                #{contractNo,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="bankId != null">
                #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="bank != null">
                #{bank,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="taxNo != null">
                #{taxNo,jdbcType=VARCHAR},
            </if>
            <if test="registryPhone != null">
                #{registryPhone,jdbcType=VARCHAR},
            </if>
            <if test="registryAddress != null">
                #{registryAddress,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="odooSupplierId != null">
                #{odooSupplierId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="supplierStatus != null">
                #{supplierStatus,jdbcType=INTEGER},
            </if>
                NOW(),
                NOW(),
                0,
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="abbreviationName != null">
                #{abbreviationName,jdbcType=VARCHAR},
            </if>
            <if test="settleType != null">
                #{settleType,jdbcType=INTEGER},
            </if>
            <if test="scheduledDate != null">
                #{scheduledDate,jdbcType=TIMESTAMP},
            </if>

            <if test="settleInterval != null">
                #{settleInterval,jdbcType=INTEGER},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="licenseExpireDate != null">
                #{licenseExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null">
                #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="districtName != null">
                #{districtName,jdbcType=VARCHAR},
            </if>
            <if test="initialTotalPrice != null">
                #{initialTotalPrice,jdbcType=BIGINT},
            </if>
            <if test="initialPaymentPrice != null">
                #{initialPaymentPrice,jdbcType=BIGINT},
            </if>
            <if test="supplierCategory != null">
                #{supplierCategory,jdbcType=TINYINT},
            </if>
            <if test="supplierDocumentId != null">
                #{supplierDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="invoiceTitle != null">
                #{invoiceTitle,jdbcType=VARCHAR},
            </if>
                #{createUserId,jdbcType=VARCHAR},
                #{updateUserId,jdbcType=VARCHAR},
        </trim>
    </insert>
    <update id="updateBySupplierId" parameterType="com.hanyun.scm.api.domain.request.supplier.SupplierModifyRequest">
        UPDATE supplier
        <set>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=TINYINT},
            </if>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="texRate != null">
                tex_rate = #{texRate,jdbcType=INTEGER},
            </if>
            <if test="texRate == null">
                tex_rate = null,
            </if>
            <if test="supplierAllName != null">
                supplier_all_name = #{supplierAllName,jdbcType=VARCHAR},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="zipCode != null">
                zip_code = #{zipCode,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="contractNo != null">
                contract_no = #{contractNo,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="bankId != null">
                bank_id = #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="bank != null">
                bank = #{bank,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                bank_account = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="taxNo != null">
                tax_no = #{taxNo,jdbcType=VARCHAR},
            </if>
            <if test="registryPhone != null">
                registry_phone = #{registryPhone,jdbcType=VARCHAR},
            </if>
            <if test="registryAddress != null">
                registry_address = #{registryAddress,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="odooSupplierId != null">
                odoo_supplier_id = #{odooSupplierId,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="supplierStatus != null">
                supplier_status = #{supplierStatus,jdbcType=TINYINT},
            </if>
            <if test="validStatus != null">
                valid_status = #{validStatus,jdbcType=TINYINT},
            </if>
                update_time = NOW(),
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="abbreviationName != null">
                abbreviation_name = #{abbreviationName,jdbcType=VARCHAR},
            </if>
            <if test="settleType != null">
                settle_type = #{settleType,jdbcType=TINYINT},
            </if>
            <if test="scheduledDate != null">
                scheduled_date = #{scheduledDate,jdbcType=TIMESTAMP},
            </if>
            <if test="settleInterval != null">
                settle_interval = #{settleInterval,jdbcType=INTEGER},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="licenseExpireDate != null">
                license_expire_date = #{licenseExpireDate,jdbcType=TIMESTAMP},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null">
                district_id = #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="districtName != null">
                district_name = #{districtName,jdbcType=VARCHAR},
            </if>
            <if test="initialTotalPrice != null">
                initial_total_price = #{initialTotalPrice,jdbcType=BIGINT},
            </if>
            <if test="initialTotalPrice == null">
                initial_total_price = null,
            </if>
            <if test="initialPaymentPrice != null">
                initial_payment_price = #{initialPaymentPrice,jdbcType=BIGINT},
            </if>
            <if test="initialPaymentPrice == null">
                initial_payment_price = null,
            </if>
            <if test="supplierCategory != null">
                supplier_category = #{supplierCategory,jdbcType=TINYINT},
            </if>
            <if test="supplierDocumentId != null">
                supplier_document_id = #{supplierDocumentId,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="invoiceTitle != null">
                invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE supplier_id = #{supplierId,jdbcType=BIGINT}
    </update>
    <update id="updateDeleteStatusBySupplierId" parameterType="java.lang.String">
        UPDATE supplier
        <set>
            valid_status = 1,
            update_time = NOW(),
            update_user_id = #{userId,jdbcType=VARCHAR},
        </set>
        WHERE supplier_id = #{supplierId,jdbcType=BIGINT}
    </update>
</mapper>